
#klok{
    font-size:70px;
    margin-left:auto;
    margin-right:auto;
    height:4%;
    text-align:center;
    font-family:calibri;
    color:#455A64;
    width:auto;
}
#profielfoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    height:16%;
    border-radius: 50%;
}
#qrcode{
    margin: 0 auto;
     width: 200px; 
}
.text{
    font-size:32px;
    font-family:calibri;
    text-align:center;
    width:100%;
    height:2%;
}
#person
{
width:32%;
font-size:70px;
}
#dashboard
{
width:32%;
font-size:70px;
}
#settings
{
width:32%;
font-size:70px;
}
#navbar{
    border:0px solid #ccc;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    margin-top:4%;
    width: 100%
}

.labels{
    width: 300px;
    display: flex;
    
    
    
    
    
    
}