
#klok{
    font-size:70px;
    margin-left:auto;
    margin-right:auto;
    height:4%;
    text-align:center;
    font-family:calibri;
    color:#455A64;
    width:auto;
}
#profielfoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    height:25%;
    border-radius: 50%;
}
#qrcode{
    margin: 0 auto;
     width: 150px; 
}
.text{
    font-size:32px;
    font-family:calibri;
    text-align:center;
    width:100%;
    height:2%;
}
#person
{
width:32%;
font-size:70px;
}
#dashboard
{
width:32%;
font-size:70px;

}
#settings
{
width:32%;
font-size:70px;
}
#navbar{
    margin: 0 auto;
    height:10%;
    position:fixed;
    width:100%;
    padding:5px;
    bottom:10px
    
}

.navactief{
     margin-left:auto;
    margin-right:auto;
    margin-bottom: auto;
    color: #455A64;
}
.navinactief{
     margin-left:auto;
    margin-right:auto;
    margin-bottom: auto;
    color: #757575;
}
.container{
    height: 100%;
}
.dashboardtext{
    text-align: center;
    font-size: 200%;
}
#person{
    height: auto;
    width: 31%;
    margin-left: 2%;
}
#dashboard{
    height: auto;
    width: 31%;
}
#settings{
    height: auto;
    width: 31%;
}